src/scrapy/comprasgov/spiders/__pycache__/spider_endpoints.cpython-36.pyc
src/scrapy/comprasgov/__pycache__/pipelines.cpython-36.pyc
src/scrapy/comprasgov/__pycache__/settings.cpython-36.pyc
src/scrapy/comprasgov/spiders/__pycache__/spider_extracao.cpython-36.pyc
src/scrapy/comprasgov/__pycache__/settings.cpython-36.pyc
src/scrapy/comprasgov/__pycache__