src/scrapy/tcucrawler/spiders/__pycache__/spider_endpoints.cpython-36.pyc
src/scrapy/tcucrawler/__pycache__/pipelines.cpython-36.pyc
src/scrapy/tcucrawler/__pycache__/settings.cpython-36.pyc
src/scrapy/tcucrawler/spiders/__pycache__/spider_extracao.cpython-36.pyc
src/scrapy/tcucrawler/__pycache__/settings.cpython-36.pyc
src/scrapy/tcucrawler/__pycache__